<!-- <h2>title : {{ title}}</h2> -->
<navbar></navbar>
<router-outlet></router-outlet>

<!-- <app-home></app-home> -->
<!-- <app-posts></app-posts> -->
<!-- <app-signup-form></app-signup-form> -->

<!-- <app-favor></app-favor> -->

<!-- <div *ngIf="courses.length > 0; then courseList else noCourses"></div>
<ng-template #courseList>
  <h3>List of curses</h3>
  <ol>
    <li *ngFor="let i of courses">
      {{i}}
    </li>
  </ol>
</ng-template>
<ng-template #noCourses>No courses yet</ng-template>

<div>
  <span [style.font-size.px]="isTrue? 20 : 12">This style binding is set for true value</span>
  <span [style.font-size.%]="!isTrue? 120 : 30">This style binding is set for false value</span>
</div>

<div (click)="onDivSave($event)">
  <p (click)="onPSave($event)">
    <button class="btn btn-primary" (click)=" onSave($event)">Save</button>
  </p>
</div>

<div>
  <input appInputFormat="'lowercase'" [(ngModel)]="email" (keyup.enter)=" onclick()" />
</div>

<p> <span>text without pipe </span>{{text}}</p>
<p> <span>text with pipe </span> {{text | summary}}</p>

<app-favor [favorVar]="email" (change)="tec($event)"></app-favor>

<p *ngIf='rev'> <span>{{rev.name}} </span> </p>

<bootstrap-panel>
  <div class="heading">heading is here via ng-content</div>
  <div class="body">body is here via ng-content</div>
</bootstrap-panel> -->