
$color: green;
$colorDarkRed: #CF261F;
$colorBalckFaint: #555752;
$colorBalck: #212121;
$colorGreyFaint: #f3f3f3;
$colorGrey: #e3e3e3;
$colorBlue: #0ABFC6;
$colorBlueFaint: #E4F8F9;

h1{
     color: $color;
}
h2{
     color: $color;
}