<section id="appFooter">
  <div class="container footercontainer">
   <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 borderbottom"> 
    <div class="col-xs-12 col-sm-3  col-md-3 col-lg-3 colpadding">
     <div class="footerFeature"> 
      <b>Free Shipping</b>
      <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
      <img src="../assets/img/freeshipping.PNG" class="featuresImg">
     </div> 
    </div>
    <div class="col-xs-12 col-sm-3  col-md-3 col-lg-3 colpadding">
      <div class="footerFeature">
        <b>Fair Prices</b>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
        <img src="../assets/img/fairprice.PNG" class="featuresImg"> 
      </div> 
    </div>
    <div class="col-xs-12 col-sm-3  col-md-3 col-lg-3 colpadding">
        <div class="footerFeature">
        <b>secure Shipping</b>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
        <img src="../assets/img/secureshipping.PNG" class="featuresImg"> 
      </div>  
    </div>
    <div class="col-xs-12 col-sm-3  col-md-3 col-lg-3 colpadding">
        <div class="footerFeature">
        <b>Customer Support</b>
        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p> -->
        <img src="../assets/img/customersupport.PNG" class="featuresImg"> 
       </div> 
    </div>
    
    <div class="row headerRow">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 phonecol4">
          <a href="tel:095450 20002">
            <i class="fa fa-volume-control-phone headerIcon" aria-hidden="true"></i>&nbsp;095450 20002 </a>&nbsp;&nbsp;
          <a href="mailto:support@foodjunction.store">
            <i class="fa fa-envelope-o  headerIcon" aria-hidden="true"></i>&nbsp; support@foodjunction.store</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 navbarcol8">
          <div text-center> 
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
        <p class="menus" (click)="gotoStoreloction()">Store Location</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
        <p class="menus" (click)="gotoContact()">Contact Us</p>
   </div>
        </div>
        </div>
      </div>
  </div> 
    <div class="col-xs-11 col-sm-11  col-md-11 col-lg-11 listSection"> 
      <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <b>About Us</b>
        <p class="aboutusText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
        <div class="socialIconList">
          <i class="fa fa-facebook socialIcon" aria-hidden="true"></i><i class="fa fa-google-plus socialIcon" aria-hidden="true"></i><i class="fa fa-twitter socialIcon" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <b>Information</b>
          <ul>
            <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>About Us</li>
            <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Delivery</li>
            <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Information</li>
            <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Privacy Policy</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <b>Customer Service</b> 
          <ul>
              <li (click)="gotoContact()"><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Contact Us</li>
              <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Returns</li>
              <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Site Map</li>
          </ul> 
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
           <b>Extras</b> 
          <ul>
              <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Brands</li>
              <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Gift Vouchers</li>
              <li><i class="fa fa-angle-double-right listIcon" aria-hidden="true"></i>Specials</li>
          </ul> 
        </div>
      </div> -->
    </div> 
    <div class="col-xs-0 col-sm-1  col-md-1 col-lg-1">

    </div>
  </div>
</section>
<section id="bottomFooter">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-12 col-sm-6  col-md-6 col-lg-4 allreservedcol4">
         <p>Food Junction &copy; All Rights Reserved.</p>
         <span>Privacy Policy - Terms Of Use - Stores - About Us</span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center">
          <p class="designby">Designed by <a href="http://rssquarz.com" target="_blank">RTS</a></p>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-6 col-lg-4">
        <div class="fotrlinkcart">
          <ul class="fotrlinkul">
            <li>
              <a><img src="assets/img/1.Home/Footer/visa.PNG"></a>
            </li>
            <li>
                <a><img src="assets/img/1.Home/Footer/master.PNG"></a>
            </li>
            <li>
                <a><img src="assets/img/1.Home/Footer/paypal.PNG"></a>
            </li>
            <li>
                <a><img src="assets/img/1.Home/Footer/cropsc.PNG"></a>
            </li>
                        
          </ul>

        </div>
      </div>
    </div>  
  </div>
</section>